<h2>Please edit or add new phenotypes.</h2>

<% @variations.each do |v| %>
	<% form_for(v[1]) do |f| %>
		Variation: <%= v[0] %> <%= v[1]%>
		| Enter new: <%= text_field f, :value => "hi" %>
		<%= f.submit "Save" %>
<% end %>
<% end %>
