<h3>Your Download can start soon...</h3>

<div class="alert alert-block alert-success">
<%=image_tag("filedownload.png",:style => "float:left")%><h7>Our servers are working hard to deliver you a file that includes all the genotyping files of users with a variation of <em><%=@variation%></em> at the phenotype <em><%=@phenotype.characteristic%></em>.<br/><br/>The genotyping files currently get zipped to lighten your download. As soon as the file is ready, you'll receive the download link via the email address with which you registered your account.</h7></div>
<%=link_to "Go Back","/phenotypes/"+@phenotype.id.to_s%>
