<p>Hello! Here are your phenotypes:</p>
<% @phenotypes.each do |p| %>
	<p><%=p.characteristic%> | <%= p.variation%><%= link_to("Edit", :controller => "phenotypes", :action => "edit", :phenotype => p.id) %></p>
<% end %>

<p><%= link_to("Back to user-page", current_user) %></p>
