<p>Hello! Here are your phenotypes:</p>

<table>
	<tr>
		<th>Characteristic</th>
		<th>Variation</th>
	</tr>
<% @phenotypes.each do |p| %>
	<tr>
		<td><%=p.characteristic%></td>
		<td><%= p.variation%></td>
	</tr>
<% end %>
</table>
<p><%= link_to("Back to user-page", current_user) %></p>
