<h1>Forgot Password</h1>

Fill out the form below and instructions to reset your password will be emailed to you:<br />
<br />

<% form_tag password_resets_path do %>
  <label>Email:</label>
  <%= text_field_tag "email" %>
  <%= submit_tag "Reset my password", :class => "btn btn-primary"  %>
<% end %>
