api_key.txt
.bundle
config/app_config.yml
config/database.yml
config/newrelic.yml
coverage
db/*.sqlite3
development.log
dump.rdb
hiredis/
key_mendeley.txt
key_plos.txt
log/
log/*.log
mail_password.txt
mail_username.txt
/public/data/
/public/system/images/
.sass-cache/
secret_key_base
secret_token
server.pid
solr/data
solr/pids
sunspot-solr-development.log.*
*.swp
tmp/
tmp/cache
tmp/pids/server.pid
.vagrant
vendor/bundle
vendor/cache
logfile
.env
