mail_username.txt
mail_password.txt
public/system/images/*
dump.rdb
sunspot-solr-development.log.*
key_mendeley.txt
key_plos.txt
api_key.txt
.bundle
db/*.sqlite3
log/*.log
tmp/pids/server.pid
public/data/*23andme*
development.log
server.pid
*.swp
solr/data
config/database.yml
vendor/bundle
public/data
coverage*
hiredis/
log/
secret_token
