language: ruby
sudo: false
cache: bundler
addons:
  apt:
    packages:
    - libhiredis-dev
  postgresql: '9.3'
#  code_climate:
#    repo_token: 36f12cb2208a523bb0c98b6724018ce5b79abe4e4741b129192414e279a79183
services:
  - redis-server
rvm:
    - 2.3
env: DB=postgres CI=1
bundler_args: --without development debug
before_script:
  - cp config/database.yml.ci config/database.yml
  - cp .env.example .env
  - bundle exec rake db:setup
script: bundle exec rake
deploy:
  provider: script
  script: bin/deploy
  on:
    branch: master
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/4c51e5a596ad847fad37
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
after_success:
  - bundle exec codeclimate-test-reporter
