<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <b>Hi <%=@user.name%>,</b>
    <p>
      the data dump (including all the genotyping files and the associated
      phenotypes) you requested for download from openSNP are now available in
      a zipped format.
      <b><a href="<%="http://"+ActionMailer::Base.default_url_options[:host]+@link%>">Go and download them!</a></b>
    </p>
    <p>
      --<br/>
      openSNP thanks <a href="https://www.sbgenomics.com/">Seven Bridges</a> –
      and its biomedical data analysis platform –
      along with <a href="patreon.com/openSNP">our Patreons</a> for supporting our
      hosting costs.</br>
      <a href="https://www.sbgenomics.com">
        <%= image_tag("SBG_logo.png") %>
      </a>
    </p>
  </body>
</html>
