<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%=@user.name%>,</h1>
    <p>
      You have recently uploaded a genotyping to our repository, but it looks
      like we have stored the same file already!</br>
      Most probably there was a mistake while uploading leading to the same
      file being processed twice. In that case, you can ignore this mail as
      the first genotyping remains on the server.
    </p>
    <p>
      If there is no genotyping listed in your user-account, please contact us!</br>
      If you need help you can read the FAQ <%=faq_url()%> or contact us by replying to this mail.
    </p>
    <p>
      Cheers,
      your openSNP-team.
    </p>
      --
      openSNP thanks <a href="https://www.sbgenomics.com/">Seven Bridges</a> –
      and its biomedical data analysis platform –
      along with <a href="patreon.com/openSNP">our Patreons</a> for supporting our
      hosting costs.</br>
      <a href="https://www.sbgenomics.com">
        <%= image_tag("SBG_logo.png") %>
      </a>
  </body>
</html>
