<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <b>Hi <%=@user.name%>,</b>
    <p>
      You have recently uploaded a genotyping to our repository, but it looks like it contains email addresses.
      Some users have uploaded files with email addresses of strangers in the past, which we obviously cannot allow.
      Therefore we have deleted your genotyping.
      The easiest way to fix this is to find out why your file contains email addresses, to remove these, and to re-upload it.
    </p>
    <p>
      If you need help <a href="<%=faq_url()%>">you can read the FAQ</a> or contact us by replying to this mail.
    </p>
    <p>
      Cheers,
      your openSNP-team.
    </p>
    --<br/>
    openSNP thanks <a href="https://www.sbgenomics.com/">Seven Bridges</a> –
    and its biomedical data analysis platform –
    along with <a href="patreon.com/openSNP">our Patreons</a> for supporting our
    hosting costs.</br>
    <a href="https://www.sbgenomics.com">
      <%= image_tag("http://"+ActionMailer::Base.default_url_options[:host]+"/assets/SBG_logo.png") %>
    </a>
  </body>
</html>
