    <p>
      You have recently uploaded a genotyping to our repository, but it looks like it contains email addresses.
      Some users have uploaded files with email addresses of strangers in the past, which we obviously cannot allow.
      Therefore, we have deleted your genotyping.
      The easiest way to fix this is to find out why your file contains email addresses, to remove these, and to re-upload it.
    </p>
    <p>
      If you need help, <a href="<%=faq_url()%>">you can read the FAQ</a> or email us at info@opensnp.org.
    </p>
