    <p>
      the Fitbit data you requested for
       <a href="<%="http://"+ActionMailer::Base.default_url_options[:host]+@link%>">
         download from openSNP is now available as a CSV (Comma-separated value) file.
       </a>
     </p>
     <p>
    Have fun with it!
    </p>
