    <p>
      the genetic data for the variation <%=@variation%> for <%=@phenotype_name%> you requested
      <a href="<%="http://"+ActionMailer::Base.default_url_options[:host]+@link%>">
        for download from openSNP are now available in a zipped format.
      </a>
    </p>
     <p>
    Have fun with it!
    </p>
