<p>
The new phenotype "<%=@phenotype.characteristic%>" was just entered on openSNP.
<a href="<%= phenotype_url(@phenotype) %>">If you want to, you can enter your
variation for this phenotype</a>
</p>
