<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <b>Hi <%=@user.name%>,</b>
    <p>
      each year Google is running its Google Summer of Code (GSoC), which is aimed at students to get started with open source work. Students participating in it will get paid by Google to work on a specific open source project for 3 months.
    </p>
    <p>
      The Open Bioinformatics Foundation (OBF) has put up a few of our project ideas, so if you're a currently enrolled student and you want to <a href="http://obf.github.io/GSoC/ideas/#opensnp">work on improving openSNP while earning money, our proposed projects are listed online</a>.
    </p>
    <p>
      Most of the projects don't require too much specific biology knowledge but basic proficiency in Ruby (on Rails) and Web Development. And even if you're lacking the Ruby skills but know other scripting languages it might be something for you. You won't be on your own, as we will mentor successful applicants.
    </p>
    <p>
      Some more general information can <a href="http://obf.github.io/GSoC/">be found on the OBF's GSoC pages</a>.
    </p>
    <p>
      The application deadline for this year's Google Summer of Code (GSoC) is approaching fast (March 25th). So If you're interested in participating in this program, just reply to this newsletter or <a href="https://gitter.im/openSNP/snpr">join us on gitter</a>.
    </p>
    <p>
      Cheers,
      Helge, Bastian, Philipp
    </p>
      --
      <br/>
      You're receiving this email as your openSNP-settings say that you're okay with getting some emails from the openSNP-team. You can change this setting really easy at https://opensnp.org/users/<%=@user.id%>/edit#notifications</br></br>
      openSNP thanks <a href="https://www.sbgenomics.com/">Seven Bridges</a> –
      and its biomedical data analysis platform –
      along with <a href="https://www.patreon.com/openSNP">our Patreons</a> for supporting our
      hosting costs.
      </br>
      <a href="https://www.sbgenomics.com">
        <%= image_tag("SBG_logo.png") %>
      </a>
  </body>
</html>
