<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <b>Hi <%=@user.name%>,</b>
    <p>
      It's been a while since we sent out a regular newsletter with the latest updates on what's happening behind the scenes. Which, it turns out, has been quite a bit in 2015:
    </p>
    <p>
      <b>Financial support</b>
      <br/>
      You can now <a href="https://www.patreon.com/openSNP">support openSNP on Patreon and pledge a small monthly amount</a> to help us out in running the service.
      <br/>
      <br/>
      Even if you <a href="https://www.patreon.com/openSNP">just chip in a single dollar per month</a>, this would already help us a lot. Some of you already do, thanks for that! To give this move some context: Since 2011 we – Helge, Philipp and Bastian – have been running openSNP largely from the money we earn in our dayjobs. We do this because we believe in running a community project around personal genomics.
      <br/><br/>
      But with the growth of openSNP we had to move the project to a higher number of larger servers, which means that we have to spend more money as well. This is why we're now also going for the last step, marrying open source and open science with crowdfunding. Nearly 20 patrons are already contributing, including one of our larger contributors, <a href="https://www.sbgenomics.com/"><i>Seven Bridges</i></a>.
    </p>
    <p>
      <b>Hardware updates</b>
      <br/>
      So far everything needed to run openSNP was living on a single machine with slow spinning disks -- this became more and more unsatisfactory the larger the database grew. We compartmentalized the architecture and moved the different parts to their own virtual servers.
      <br/><br/>
      The fact that the new servers are backed by SSD storage brought the most significant improvement in terms of performance, specifically for the database. The background jobs got their own machine as well, so they don't interfere with other applications by eating up all the resources.
      <br/><br/>
      In order to be more flexible in the future, the Rails app is now running within Docker containers, so they can be moved around without as much effort in the future, if needed. If you are interested in joining us in running openSNP: Feel free to <a href="https://github.com/gedankenstuecke/snpr">get in touch through GitHub</a> or via info@opensnp.org
    </p>
    <p>
      <b>Survey</b>
      <br/>
      As you might have seen our last email, we're collaborating with the University of Zurich for <a href="https://www.surveymonkey.com/r/openSNP">a survey amongst openSNP users</a>. If you haven't participated so far, and are interested in giving feedback on why you are sharing your data (and what your experience has been with that) <a href="https://www.surveymonkey.com/r/openSNP">please do so</a>!
    </p>
    <p>
      <b>Phenotype Request: SAT scores</b>
      <br/>
      The genetic basis for intelligence has been a hot topic for ages by now. For a primer on the topic you can <a href="https://www.youtube.com/watch?v=vr5n_ZOZ6E8">watch this video</a>. While visiting China and Hong Kong, we met up with Laurent Tellier, who is working at the BGI in Shenzhen. His research is into the genetic basis of intelligence and uses SAT scores as a quantitative proxy. So if you've taken the SATs and are willing to share, please help him by entering your variation for those phenotypes:<br/>
      <a href="https://opensnp.org/phenotypes/37">Phenotype 1</a><br/>
      <a href="https://opensnp.org/phenotypes/38">Phenotype 2</a><br/>
      <a href="https://opensnp.org/phenotypes/39">Phenotype 3</a><br/>
      <a href="https://opensnp.org/phenotypes/41">Phenotype 4</a><br/>
    </p>
    <p>
      <b> With this we wish all of you happy holidays and some fun science in 2016!</b>
      <br/>
      Cheers,
      <br/>
      Philipp, Bastian, Lore and Helge for the openSNP team
    </p>
      --
      <br/>
      You're receiving this email as your openSNP-settings say that you're okay with getting some emails from the openSNP-team. You can change this setting really easy at https://opensnp.org/users/<%=@user.id%>/edit#notifications</br></br>
      openSNP thanks <a href="https://www.sbgenomics.com/">Seven Bridges</a> –
      and its biomedical data analysis platform –
      along with <a href="https://www.patreon.com/openSNP">our Patreons</a> for supporting our
      hosting costs.
      </br>
      <a href="https://www.sbgenomics.com">
        <%= image_tag("SBG_logo.png") %>
      </a>
  </body>
</html>
