    <p>
You're receiving this mail because you requested to download a dump of all the genotypes in openSNP.org. Unfortunately, there are no genotypes yet. Maybe you want to upload your data?
    </p>
    <p>
      If you need help <a href="<%=faq_url()%>">you can read the FAQ</a> or email us at info@opensnp.org.
    </p>
