    <p>
	We're sorry to tell you that we don't have any users with uploaded genetic data that share the variation <%=@variation%> for <%=@phenotype_name%> yet.
    </p>
    <p>
      If you need help, <a href="<%=faq_url()%>">you can read the FAQ</a> or email us at info@opensnp.org.
    </p>
