<p>
We have some open science / open genomics related things that might be of interest to you. Our friends at Open Humans are now <a href="https://www.openhumans.org/grants/">offering grants of up to USD 5,000 to projects</a> which want to add new data sources or tools to the Open Humans eco system.
</p>
<p>
  If you have an idea for a project this might be a great opportunity to work on this. Alternatively, openSNP already has a project idea, but we’re right now lacking the time to work on it ourselves: We would love to connect openSNP with Open Humans, thus allowing all of you to link the whole diversity of non-genomic data that Open Humans supports with your genetic data in openSNP. If you think that this would be something you want to work on, please get in touch with us at info@opensnp.org and we will happily support you in doing the grant application!
</p>
<p>
  Open Humans is also <a href="https://www.openhumans.org/jobs/">looking for a web developer who is interested in open science</a>. So if you are looking for a programming job that helps to make a difference, this one might be for you.
</p>
<p>
  And if you happen to be in or near Zurich, Switzerland on the weekend of the 2nd and 3rd of September we have a great participatory genetics event for you: Ernst Hafen and Ulrich Genick of the ETH Zurich are running a workshop on the biology and genetics of smell and taste. In the workshop they will cover the current state of research on smell and taste perception, followed by some practical experiments for you. <a href="http://www.scientifica.ch/events/workshops/Erforschen-Sie-als-Citizen-Scientists-Ihren-Geruchs-und-Geschmackssinn/">More information can be found on their (German language) website</a>.
</p>
<p>
  Until next time,<br/>
  Helge and Bastian, for the openSNP-team
</p>
