<p>
  Usually we are running a bit late with our newsletter, so let’s be early this year:
  We wish you Happy Holidays and a great end of the year! With that we have two important messages to share with you.
  The first: We will discontinue our integration with Fitbit. The implementation was always prone to frequent crashes.
  Instead, you can now connect your genetic data from openSNP with many open data sources thanks to Open Humans.
  The second: As is tradition during the holiday season, we also want to ask you for your support.
</p>
<p>
  <b>Connect with Open Humans</b></br>
  Since mid-November you can now <a href="https://opensnp.org/openhumans">link your openSNP account to Open Humans</a>.
  By making use of a variety of APIs and projects you can use Open Humans to collect data about yourself from a variety of sources.
  For example, you can connect activity tracking data not only from your Fitbit or Jawbone but also straight away from your iPhone through HealthKit.
  And once connected you get the choice on whether to publicly or selectively share this data.
  By connecting your Open Humans and openSNP accounts you don’t have to upload data twice or worry about keeping data current in two places.
  <a href="https://www.openhumans.org/activity/opensnp/">Click here to get started.</a>
</p>
<p>
  As Open Humans does a far better job of including activity trackers than we ever did with Fitbit,
  we have decided to remove the Fitbit integration in openSNP by January 15th 2018.
  If you have been a user of it you will have noticed that it was rather buggy, leading to things breaking regularly,
  especially after changes on the API side of Fitbit.
  Using the Open Humans connection instead of our own implementation will allow us to spend significantly less time on maintenance.
</p>
<p>
  <b>Help us to keep the lights on</b></br>
  openSNP continues to grow at a great pace.
  This year alone over 1,000 new genetic data sets have been uploaded to openSNP,
  and we are very close to 4,000 genotyping sets! Thanks for your great contribution!
  While we are very proud of this, this success also means that we need to invest more into computational resources to keep openSNP going.
  By now openSNP runs distributed over four virtual servers and just a few weeks ago we had to upgrade the memory in one of them.
</p>
<p>
  Which is why we appreciate everyone of you who is willing (and capable) of helping us foot the bill for the server rent.
  Since late 2015 <a href="https://patreon.com/openSNP">we have been on Patreon</a>, and many people have set up a small monthly contribution.
  If you want to <a href="https://patreon.com/openSNP">become a patron as well: Thanks so much for that</a>!
</p>
<p>
  Thanks to <a href="https://dnageeks.com/search?q=opensnp&aff=6">DNAgeeks.com</a> we can now also offer another way to support us:
  You can buy one of their great <a href="https://dnageeks.com/search?q=opensnp&aff=6">shirts or mugs with the openSNP logo</a> and
  20% of each sale will be used to pay off the openSNP servers.
  <a href="https://dnageeks.com/search?q=opensnp&aff=6">Check them out</a>,
  they can make a great holiday gift for your fellow open source genetics friends!
</p>
