<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear <%=@user.name%>,
    <p>
      This is just a friendly reminder[1] that <i>openSNP</i> is currently designing an interesting project with <a href=" https://www.crowdai.org/"><i>crowdAI</i></a>, an open research platform developed by scientists at EPFL, Switzerland. Enabling researchers to find new associations between gene variants and human traits has for a long time been our goal, and together we’re now taking the first steps in this direction.
    </p>
    <p>
      We will run an open, crowdsourced challenge to see if computer algorithms can be developed to predict individual height. Traditional genetics approaches have focused on identifying individual variants that contribute to such traits, and while quite successful, they have been unable to explain a large fraction of the differences observed between individuals. A new method called “deep learning”, where computers can learn complex patterns from existing data, has recently led to breakthroughs in areas such as image and text recognition. We think this method may have the same potential for genetics.
    </p>
    <p>
      In order to show how crowdsourced citizen science can move genetics forward, we would love to get your height from a standardized form. This is why we kindly ask you to fill in <a href="https://docs.google.com/forms/d/e/1FAIpQLSdOG0tZUaw1gD6MaFetjqyM6_jpwEgL74DnY15l9-hSZTalbA/viewform?entry.28571329=<%=@user.id%>">this one question survey</a> (it will not even take you a minute to answer!). : <a href="https://docs.google.com/forms/d/e/1FAIpQLSdOG0tZUaw1gD6MaFetjqyM6_jpwEgL74DnY15l9-hSZTalbA/viewform?entry.28571329=<%=@user.id%>">Survey at Google Docs</a>.
    </p>
    <p>
      Thanks so much for your support! If you have any questions regarding this research you can always contact us at info@openSNP.org or info@crowdAI.org.
    </p>
    <p>
      The openSNP team and the crowdAI team
    </p>
    <p>
      [1] This might also be the first email you get regarding this, as our email system had some problem with getting blacklisted by GMail
    </p>
      --
      <br/>
      You're receiving this email as your openSNP-settings say that you're okay with getting some emails from the openSNP-team. You can change this setting really easy at https://opensnp.org/users/<%=@user.id%>/edit#notifications</br></br>
  </body>
</html>
