body {
	float: left;
    color: #333333;
	background-color: #F9F9F9;
}

.header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:header-<length>;
	border-bottom: 1px solid;
	border-color: black;
	text-align: center;
}
.footer{
	position:absolute;
	text-align: center;
	bottom:0;
	left:0;
	width:100%;
	height:footer-<length>;
	border-top: 1px solid;
	border-color: black;
}
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

