<legend>Deleted your <em>Fitbit</em>-connection</legend>

<p class="lead">Your <em>Fitbit</em>-account has been unlinked from openSNP. All <em>Fitbit</em>-data which we had savedhas been deleted and we will not get any more updates, as long as you don't <%=link_to("reconnect your Fitbit account with openSNP",{:controller => "fitbit_profiles", :action => "start_auth"})%>.</p>