<p class="lead">Your <em>FitBit</em>-account has been connected to your openSNP-account. <strong>Please finish the initial setup below so we can start to save your <em>FitBit</em>-results</strong>.</p>

<%=render "form"%>