
<h2>Phenotypes</h2>
	<%= f.fields_for :user_phenotypes do |p| %>
	 <div class="field">
		 Variation: <%= p.text_field :variation%> <%= p.link_to_remove "Remove"%><br/>
	 </div>
 <% end %>
 <%= f.link_to_add "Add a phenotype", :user_phenotypes %>
