<table class="common-table zebra-striped">
	<tr>
		<th>Characteristic</th>
		<th>Variation</th>
	</tr>
<% @user_phenotypes.each do |p| %>
	<tr>
		<td><%= Phenotype.find_by_id(p.phenotype_id).characteristic %></td>
		<td><% if p.variation %><%= p.variation%><% else %>Undescribed.<% end %></td>
	</tr>
<% end %>
</table>
