<table class="common-table zebra-striped">
	<tr>
		<th>Characteristic</th>
		<th>Variation</th>
	</tr>
<% @phenotypes.each do |p| %>
	<tr>
		<td><%= Phenotype.find_by_id(p.id).characteristic %></td>
		<td><% if not p.variation.empty? %><%= p.variation%><% else %>Undescribed.<% end %></td>
	</tr>
<% end %>
</table>
