<h1>Listing all users</h1>
<table class="common-table zebra-striped">
	<tr>
		<th>Name</th>
		<th>SNPs</th>
		<th></th>
	</tr>	
<% @users.each do |u| %>
	<tr>
		<td><%= u.name %></td>
		<td><% if u.has_sequence %>Yes<% else %>No<% end %></td>
		<td><%= link_to("Profile", u) %></td>
	</td>
<% end %>
</table>
<%= will_paginate(@users) %>
