<h1>Listing all users</h1>
<table class="common-table zebra-striped">
	<tr>
		<th>Name</th>
		<th>SNPs</th>
		<th># of Phenotypes</th>
	</tr>	
<% @users.each do |u| %>
	<tr>
		<td><%=image_tag u.avatar.url(:head),:style => "vertical-align:middle"%> <%= link_to(u.name,u) %></td>
		<td><% if u.has_sequence %>Yes<% else %>No<% end %></td>
		<td><%=u.phenotypes.length%></td>
	</td>
<% end %>
</table>
<div class="pagination">
<%= will_paginate(@users) %>
</div>
