<div class="general__container container">
  <div class="row">
    <h3 class="general__title">Sign Up</h3>
    <%= render 'shared/error_messages', :target => @user %>
    <%= render 'shared/warning' %>
  </div>
  <div class="row">
    <div class="col-md-7  well signup__disclaimer">
      <%=render "static/disclaimer"%>
    </div>
    <div class="col-md-4 col-md-offset-1 well signup__form">
      <b>
        openSNP will sunset on April 30, 2025. Due to this we already now don't allow new registrations any longer. Existing users can log in as before.
      </b>
    </div>
  </div>
</div>
