<h1>Sign up</h1>
<p>Warning:</p>
<p>The data you upload here is visible to everyone. Other people will see the probability with which you are going to develop certain diseases. Think about your relatives: what if they share your SNPs? Your data tells more about your parents, brothers and sisters than you think. So please don't blame us when people on the internet know more about your family than you would like.</p>  
<%= render 'form' %>

<p>Already a user? <%= link_to("Log in now!", "/signin")%></p>
