<h1>Hello <%= @user.name %>!</h1>

<% if @user.has_sequence == true %>
	<p>Insert stuff for analysis here</p>



<% else %>
	<p>You haven't uploaded your SNP-set. <%= link_to("Please do so", :controller => "genotypes", :action => "new")%></p>
<% end %>
<%=@current_user%>

Here are your variations: <%= link_to("Click", Phenotype.find_by_user_id(@user.id)) %>
