<% if target.errors.any? %>
	<div class="alert-message block-message error">
		<p>Error:</p>
		<ul>
			<% target.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
