<% if target.errors.any? %>
  <div class="warning__alert alert alert-danger center-block">
    <ul class="list-unstyled text-center">
      <% target.errors.to_a.each do |error_message| %>
        <li><strong><%= error_message %></strong></li>
      <% end %>
    </ul>
  </div>
<% end %>
