<div class="row">
<div class="span12">
<div class="alert alert-block alert-error">
	<p><strong>Important:</strong> Please carefully read the disclaimer on the right-hand side.</p>  
</div>
</div>
</div>
