<div class="row">
<div class="span14 columns offset1">
<div class="alert-message block-message error">
	<p><strong>Important:</strong> Please carefully read the disclaimer on the right-hand side.</p>  
</div>
</div>
</div>
