<h3>Your download will start soon...</h3>

<div class="alert-message block-message success">
<%=image_tag("filedownload.png",:style => "float:left")%><h7>Our servers are working hard to deliver you a file that includes all the genotyping files and phenotypic information.</h7> <br/><br/>
<h7>You will get an email with the download link as soon as the file is ready.</h7></div>
<%=link_to "Go Back","/genotypes"%>
