<h1><%=@user.name%>'s genotype</h1>

<p>Originally uploaded on: <%= @genotype.created_at %></p>

<p>Download this set: <%= link_to "Right-click and 'Save as...'", '../data/' + @genotype.fs_filename %> </p>
