.test-warnings_container
  z-index: 4
  position: absolute
  width: 100%

.test-warning__alert
  width: 200px
  margin-bottom: 0

  @media #{$tablet-breakpoint}
    width: 500px

.test-warning__alert.alert.alert-danger
  background-color: rgba(#f2dede , 0.5)
  border-color: rgba(#f2dede , 0.5)

.test-warning__alert.alert.alert-success
  background-color: rgba(#dff0d8, 0.5)
  border-color: rgba(#dff0d8, 0.5)

.test-warning__alert.alert.alert-info
  background-color: rgba(#d9edf7, 0.5)
  border-color: rgba(#d9edf7, 0.5)
