default: &default
  fitbit_consumer_key:
  fitbit_consumer_secret:
  mendeley:
    consumer_key:
  recaptcha:
    public_key: foo
    private_key: bar
  sidekiq:
    user: admin
    password: password
  devise: password
  errbit:
    api_key: gobbledigook
    host: url

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default

