<p><strong>By signing up for openSNP you declare that you have understood the possible risks and side-effects that can occur by making your genetical and medical information available on this platform. In short:</strong><br/><br/></p>
<p>
<ul>
  <li>Data uploaded to the internet can not be fully deleted, there may always be a backup somewhere</li>
  <li>By publishing data you expose information about you and your next of kin worldwide</li>
  <li>Genetic and medical information can be used by employers, insurance companies and the government to know more about you than you would like</li>
  <li>new findings about your genotypes can be negative</li>
</ul>
</p>
<center><h6>What has been seen can not be unseen</h6></center>
<p>You agree that all data you upload to openSNP will be freely available online (well, except your mail-address and password) under a <a href="http://creativecommons.org/about/cc0">Creative Commons Zero</a> license. The data can be viewed and downloaded through this webpage, RSS-feeds, in future maybe via an API and via FTP. Although you can delete your data from openSNP this does not guarantee that no one else did already create a backup of the data (who may re-publish the data somewhere else).</p>
<center><h6>There is zero privacy anyway, get over it</h6></center>
<p>Although you can upload your data using a pseudonym, there is no way to anonymously submit data. Statistically speaking it is really unlikely that your medical and genetic information matches that of someone else. By uploading you do not only disclose information about yourself, but also about your next kinship (parents and siblings), that shares half of a genome with you. Before uploading any genetical data you should make sure that those people approve of you doing so. This is especially important if you have monozygotic twin, who shares all of your genome!</p>
<center><h6>Jobs, insurance, the government</h6></center>
<p>Medical and genetic data can be used to discriminate people. Due to medical or genetic information an employer may not give you a job, an insurance company may request higher payments and who knows what any <em>evil™</em> government will do with your data? Although some countries have laws against genetic discrimination, these laws certainly will not cover possible discrimination scenarios and could change in the future. Again: These are side effects and risks which also can apply to your kinship, if you chose to upload this information.</p>
<center><h6>Knowledge about genes and SNPs is not static</h6></center>
<p>Nearly every week there are new scientific publications that find new associations between certain traits (like diseases) with existing genetic information. Because of this you should not publish your data just because it currently looks harmless and unsuspicious. It may be true that your genotyping data is of no greater interest for your employer, your insurance company or the government right now, but this can easily change (<strong>Remember: One of the reasons to upload your data here in the first place is, to enable everyone to find such new associations</strong>).</p> 
<p>Think of the hypothetical <em><a href="http://www.snpedia.com/index.php/Rs666">SNP rs666</a></em>. One day after you upload your genotyping-data to this website, a new publication finds that your genotype at <em>rs666</em> will give you, your siblings and your parents a fatal disease that will most certainly strike all of you. Due to this disease you (and you kin) may lose your jobs and your insurance. Chances for a association of this kind may be small, but by uploading the data you are nonetheless taking this risk!</p>
<center><h6>Spam-accounts</h6></center>
<p>Accounts which only serve advertising will be deleted.</p>
