<div class="general__container container">
  <h3>About Us</h3>
  <div class="row">
    <div class="col-md-7 ">
      <p>
      openSNP is a community-driven and community-owned project which lives
      through the contributions of its members. It is not associated with any
      institution and the only funding source for
      openSNP <a href="https://www.patreon.com/openSNP">is continuous crowdfunding,
        which pays for the hosting costs</a>.
      </p>

      <h4>Who's running the openSNP.org infrastructure?</h4>
      <p>
      The bulk of the coding was done by
      <a href="http://www.twitter.com/gedankenstuecke">Bastian Greshake</a>,
      <a href="http://twitter.com/helgerausch">Helge Rausch</a> and
      <a href="http://twitter.com/PhilippBayer">Philipp Bayer</a>,
      who are also taking care of running and maintaining the live website.
      </p>
      <p>
      Bastian is working on his PhD in bioinformatics at the University of Frankfurt,
      while Philipp already successfully took that step and is now a bioinformatics
      post-doc at the University of Western Australia in Perth. Helge is working and
      living as a webdesigner in Berlin and probably the biggest reason why this
      website still works.
      </p>
      <h4>Getting in Touch</h4>
      <p>
      There are several ways to get in touch with us - the code is hosted
      at <a href="https://github.com/opensnp/snpr">GitHub</a> where we of course
      accept pull requests, there's a <a href="https://gitter.im/openSNP/snpr">
        Gitter channel if you want to chat to us</a>, and you can reach out to
      us at the above Twitter handles or <a href="https://www.twitter.com/openSNPorg">
        @openSNPorg</a>.
      </p>
      <p>
      In addition to that openSNP thrives through the kindness of dedicated
      contributors who have made numerous contributions.
      <a href="https://opensnp.org/humans.txt">Each and every one of them is
        celebrated in our humans.txt</a>.
      </p>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <center>
      <p>
        <a href="http://twitter.com/PhilippBayer">
          <h4>Philipp Bayer</h4>
          <%=image_tag("avatar-philipp.png")%>
        </a>
      </p>
      <p>
        <a href="http://twitter.com/helgerausch">
          <h4>Helge Rausch</h4>
          <%=image_tag("avatar-helge.png")%>
        </a>
      </p>
      <p>
        <a href="http://www.twitter.com/gedankenstuecke">
          <h4>Bastian Greshake</h4>
          <%=image_tag("avatar-bastian.png")%>
        </a>
      </p>
    </center>
    </div>
  </div>
</div>
