<h3>Frequently Asked Questions</h3>

<dl>
	<dt>What does OpenSNP offer genotyping-customers?</dt>
	<dd>Customers from companies like 23andme and deCODEme can upload the raw genotypes they received from the companies, which will then be openly available for the world to see and download. We parse these SNPs and annotate them with current scientific results from three sources: The Public Library of Science (PLoS), a Open Access publishing group; Mendeley, a repository of scientific publications and SNPedia, a Wikipedia-like page which gathers information about SNPs. Users are also encouraged to enter their phenotypes so we can link SNPs to phenotypes. Users can also connect to other users over private messaging mechanisms.</dd>
	<br/>
	<dt>What does OpenSNP offer researchers working on human SNPs?</dt>
	<dd>Researchers can search our database of SNPs annotated with phenotypes and download all genotypes which users have uploaded to the page.</dd>
	<br/>
	<dt>How much does membership in OpenSNP cost?</dt>
	<dd>Nothing!</dd>
	<br/>
	<dt>How open is my data?</dt>
	<dd>Completely open - everyone can see everything you enter or upload (except your private messages, of course). We warn users twice of this circumstance, once on user-creation and once on genotype-upload.</dd>
	<br/>
	<dt>What happens to my data when I delete my account or my uploaded genotype?</dt>
	<dd>Everything you uploaded is deleted forever together with all SNPs we parsed from your dataset (SNPs that you share with other users are kept, of course).</dd>
	<br/>
	<dt>Do you have a RSS-feed for newly uploaded genotypes?</dt>
	<dd><%= link_to("Of course. Here it is!", '/rss')%></dd>
</dl>

