<p>With the advent of cheaper and faster sequencing technologies, cheap and fast mining for SNPs has been on the rise, too. Snpr is a project to help users understand their SNP-data.</p>
<p>Users can upload their data, which will then be annotated by our in-house pipeline. The results of the annotation-process will then be accessible for users on their page.</p>
