<div class="leftside">
	<h2>Welcome to SNPr!</h2>
	<p><h5>Genotyping-users:</h5> Get your SNPs annotated, learn more about yourself, and connect with people who want to learn more about themselves!</p> 
	
	<p><h5>Scientists:</h5>Download open SNP-sets, annotated with phenotypes, and share your datasets!</p>
</div>
