<h2>openSNP in blogs & press</h2>
All links in English except where noted otherwise. Time-format is dd.mm.yyyy</br>
<h4>2013-2015</h4>
Sorry, we've been super lazy in updating this.
If you want to get a comprehensive list <a href="https://www.google.de/search?hl=en&q=opensnp&oq=opensnp&tbm=nws">just try Google News</a>. Below is an incomplete list (mostly from 2015).
<ul>
  <li><a href="http://fusion.net/story/40034/the-social-network-for-people-who-want-to-upload-their-dna-to-the-internet/">Fusion wrote about us</a> (<a href="http://fusion.net/story/47945/this-guy-is-the-mark-zuckerberg-of-open-source-genetics/">twice!</a>)</li>
  <li><a href="http://blogs.biomedcentral.com/gigablog/2015/12/10/community-genomes-gigatv/">The BMC Blog featured us</a>, along with a <a href="https://www.youtube.com/watch?v=PyN69h5ZWaI">video of a presentation we gave at BGI's conference</a>.</li>
  <li>(German) German, Austrian and Swiss news outlets ran <a href="http://www.tagesanzeiger.ch/wissen/medizin-und-psychologie/Billige-Forschung-dank-Gentests--------/story/15817263">some articles</a> about us, <a href="http://www.chip.de/news/Krass-Exklusivstes-Soziales-Netzwerk-verlangt-genetischen-Fingerabdruck_77511699.html">our ideas</a> and <a href="http://futurezone.at/science/facebook-fuer-gen-exhibitionisten/121.260.117">the plans we have</a>.</li>
</ul>
<h4>2012</h4>
<ul>
    <li>(German) <a href="http://m.sonntagonline.ch/ipad/articleView.htm?article=bGluZTJfTkFUX2xpbmUyLTA4XzA3XzIwMTJfU29ubnRhZ19SZWRha3Rpb25fdjFfOTU0NTQx">Ich zeig dir meine Gene, <em>Der Sonntag</em>, 08.07.2012</a></li>
    <li>(German) <a href="http://www.beobachter.ch/leben-gesundheit/medizin-krankheit/artikel/19728/">Das Geschäft mit den Genen, <em>Der Beobachter</em>, 07.06.2012</a></li>
    <li>(German) Die Macht der Gene, <em>Münstersche Zeitung</em>, 16.05.2012</li>
    <li><a href="http://www.genomesunzipped.org/2012/05/a-review-of-opensnp-a-platform-to-share-genetic-data.php">A review of openSNP, a platform to share genetic data, <em>Genomes Unzipped</em>, 02.05.2012</a></li>
    <li>(German) <a href="http://www.borkenerzeitung.de/nachrichten/muensterland_artikel,-Datenbank-fuer-Gen-Fehler-_arid,71044.html">Datenbank für Gen-Fehler, <em>Borkener Zeitung</em>, 21.04.2012</a></li>
    <li>(German) <a href="http://www.spiegel.de/spiegel/unispiegel/d-84551656.html">Das ist ja kein Todesurteil, <em>UniSPIEGEL</em>, 7.4.2012</a></li>
    <li>(German) <a href="http://www.biotechnologie.de/BIO/Navigation/DE/root,did=149634.html?listBlId=74462">Das soziale Gendaten-Netzwerk, <em>Biotechnologie</em></a></li>
    <li>(German) <em>WIRED</em>, issue 1/12</li>
    <li>(German) <em>Die Naturheilkunde</em>, issue 1/12</li>
    <li>(German) <a href="http://www.aerzteblatt.de/nachrichten/48928/Studierende-entwickeln-Internetportal-zu-Genuntersuchungen">Studierende entwickeln Portal zu Genuntersuchungen, <em>Ärzteblatt</em>, 30.1.2012</a></li>
    <li>(German) <a href="http://www.biotechnologie.de/BIO/Navigation/DE/Service/Videos/biotechnologie-tv-gesamt,did=149096.html"><em>biotechnologie.tv</em>: 97. Folge</a></li>

    <li><a href="http://www.bionews.org.uk/page_128145.asp">What's in a name?, <em>BioNews</em>, 27.2.2012</a></li>
    <li>(German) <a href="http://www.netdoktor.de/Magazin/Striptease-fuers-Erbgut-12179.html">Striptease fürs Erbgut, <em>NetDoktor.de</em>, 30.1.2012</a></li>
    <li>(German) <a href="http://wissen.dradio.de/sid72th7ams3vgc9h26u9nob48fh3/nachrichten.59.de.html?drn:news_id=63189">Internetportal soll den Umgang mit Ergebnissen aus DNA-Untersuchungen erleichtern, <em>DRadio Wissen</em>, 26.01.2012</a></li>
    <li>(German) <a href="http://www.uni-muenster.de/unizeitung/2012/1-10.html">Sterbe ich mit 50 Jahren?, <em>wissen|leben</em>, 25.1.2012</a></li>
</ul>
<h4>2011</h4>
<ul>
    <li><a href="http://www.forbes.com/sites/techonomy/2011/12/15/the-hottest-holiday-gadgets-for-the-self-tracker-on-your-shopping-list/">The Hottest Holiday Gadgets for the "Self-Tracker" on Your Shopping List, <em>Forbes</em>, 15.12.2011</a></li>
    <li><a href="http://www.nature.com/news/seven-days-2-8-december-2011-1.9583">The week in science: 2-8 December 2011, <em>Nature</em>, 7.12.2011</a></li>
    <li>(Japanese) <a href="http://current.ndl.go.jp/node/19660">PLoSとMendeley共催のアプリ開発コンテスト“Binary Battle”、優秀者が発表される, <em>Current Awareness Portal</em>, 6.12.2011</a></li>
    <li><a href="http://blogs.nature.com/news/2011/12/could_crowd_sourcing_provide_t.html">Could crowd sourcing provide the next genetics breakthrough?, <em>Nature News Blog</em>, 1.12.2011</a></li>
    <li><a href="http://www.prnewswire.com/news-releases/opensnp-wins-the-mendeleyplos-10001-binary-battle-papercritic-takes-runner-up-134827228.html">openSNP Wins the Mendeley/PLoS $10001 Binary Battle: PaperCritic Takes Runner-up, 1.12.2011</a></li>
    <li><a href="http://www.science20.com/newswire/opensnp_wins_mendeleyplos_10001_binary_battle_papercritic_takes_runnerup-85124">OpenSNP Wins The Mendeley/PLoS $10001 Binary Battle: PaperCritic Takes Runner-up, science20, 1.12.2011</a></li>
    <li><a href="http://blogs.plos.org/plos/2011/11/opensnp-wins-plosmendeley-binary-battle/">openSNP wins PLos/Mendeley Binary Battle, <em>The official PLoS Blog</em>, 30.11.2011</a></li>
    <li><a href="http://www.tamurajones.net/OpenSNP.xhtml">openSNP - open genetic data, <em>Modern Software Experience</em>, 2.7.2011</a></li>
</ul>
