<h2>openSNP in blogs & press</h2>
All links in English except where noted otherwise. Time-format is dd.mm.yyyy</br>
<h4>2012</h4>
<ul>
    <li>(German) <a href="http://www.beobachter.ch/leben-gesundheit/medizin-krankheit/artikel/19728/">Das Geschäft mit den Genen, <em>Der Beobachter</em>, 07.06.2012</a></li>
    <li>(German) Die Macht der Gene, <em>Münstersche Zeitung</em>, 16.05.2012</li>
    <li><a href="http://www.genomesunzipped.org/2012/05/a-review-of-opensnp-a-platform-to-share-genetic-data.php">A review of openSNP, a platform to share genetic data, <em>Genomes Unzipped</em>, 02.05.2012</a></li>
    <li>(German) <a href="http://www.spiegel.de/spiegel/unispiegel/d-84551656.html">Das ist ja kein Todesurteil, UniSpiegel, 7.4.2012</a></li>
    <li>(German) <a href="http://www.biotechnologie.de/BIO/Navigation/DE/root,did=149634.html?listBlId=74462">Das soziale Gendaten-Netzwerk</a></li>
    <li>(German) WIRED, issue 1/12</li>
    <li>(German) Die Naturheilkunde, issue 1/12</li>
    <li>(German) <a href="http://www.aerzteblatt.de/nachrichten/48928/Studierende-entwickeln-Internetportal-zu-Genuntersuchungen">Studierende entwickeln Portal zu Genuntersuchungen, Ärzteblatt, 30.1.2012</a></li>
    <li>(German) <a href="http://www.biotechnologie.de/BIO/Navigation/DE/Service/Videos/biotechnologie-tv-gesamt,did=149096.html">biotechnologie.tv: 97. Folge</a></li>

    <li><a href="http://www.bionews.org.uk/page_128145.asp">What's in a name?, BioNews, 27.2.2012</a></li>
    <li>(German) <a href="http://www.netdoktor.de/Magazin/Striptease-fuers-Erbgut-12179.html">Striptease fürs Erbgut, NetDoktor.de, 30.1.2012</a></li>
    <li>(German) <a href="http://www.uni-muenster.de/unizeitung/2012/1-10.html">Sterbe ich mit 50 Jahren?, wissen|leben, 25.1.2012</a></li>
</ul>
<h4>2011</h4>
<ul>
    <li><a href="http://www.forbes.com/sites/techonomy/2011/12/15/the-hottest-holiday-gadgets-for-the-self-tracker-on-your-shopping-list/">The Hottest Holiday Gadgets for the "Self-Tracker" on Your Shopping List, Forbes, 15.12.2011</a></li>
    <li><a href="http://www.nature.com/news/seven-days-2-8-december-2011-1.9583">The week in science: 2-8 December 2011, Nature, 7.12.2011</a></li>
    <li>(Japanese) <a href="http://current.ndl.go.jp/node/19660">PLoSとMendeley共催のアプリ開発コンテスト“Binary Battle”、優秀者が発表される, Current Awareness Portal, 6.12.2011</a></li>
    <li><a href="http://blogs.nature.com/news/2011/12/could_crowd_sourcing_provide_t.html">Could crowd sourcing provide the next genetics breakthrough?, Nature News Blog, 1.12.2011</a></li>
    <li><a href="http://www.prnewswire.com/news-releases/opensnp-wins-the-mendeleyplos-10001-binary-battle-papercritic-takes-runner-up-134827228.html">openSNP Wins the Mendeley/PLoS $10001 Binary Battle: PaperCritic Takes Runner-up, 1.12.2011</a></li>
    <li><a href="http://www.science20.com/newswire/opensnp_wins_mendeleyplos_10001_binary_battle_papercritic_takes_runnerup-85124">OpenSNP Wins The Mendeley/PLoS $10001 Binary Battle: PaperCritic Takes Runner-up, science20, 1.12.2011</a></li>
    <li><a href="http://blogs.plos.org/plos/2011/11/opensnp-wins-plosmendeley-binary-battle/">openSNP wins PLos/Mendeley Binary Battle, The official PLoS Blog, 30.11.2011</a></li>
    <li><a href="http://www.tamurajones.net/OpenSNP.xhtml">openSNP - open genetic data, Modern Software Experience, 2.7.2011</a></li>
</ul>
