<h3>Statistics</h3>
See how we've been growing over the last years. Graphs are updated daily, raw data is provided as well.

<h4>Users</h4>
<img src="../data/plot_data/users.png"/><br/>
<i><a href="../data/plot_data/number_users.csv">Download raw data</a></i>
