<div class="general__container container">
    <h3 class="general__title">Statistics</h3>
    <p>See how we've grown over the last few years. Graphs are updated daily; raw data is provided as well.</p>
    <ul class="list-unstyled statistic-list">
      <div class="row">
        <div class="col-md-5 ">
          <li class="statistic__list-item">
            <h4>Users</h4>
            <img class="statistic__images center-block" src="../data/plot_data/users.png" alt="">
            <a class="btn btn-primary statistic__list-item-button"> Download raw data</a>
          </li>
        </div>
        <div class="col-md-5 col-md-offset-2">
          <li class="statistic__list-item">
            <h4>Genotypes</h4>
            <img class="statistic__images center-block" src="../data/plot_data/genotypes.png" alt="">
            <a class="btn btn-primary statistic__list-item-button"> Download raw data</a>
          </li>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 ">
          <li class="statistic__list-item">
            <h4>Phenotypes</h4>
            <img class="statistic__images center-block" src="../data/plot_data/phenotypes.png" alt="">
            <a class="btn btn-primary statistic__list-item-button"> Download raw data</a>
          </li>
        </div>
        <div class="col-md-5 col-md-offset-2">
          <li class="statistic__list-item">
            <h4>Phenotype Answers</h4>
            <img class="statistic__images center-block" src="../data/plot_data/user_phenotypes.png" alt="">
            <a class="btn btn-primary statistic__list-item-button"> Download raw data</a>
          </li>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <li class="statistic__list-item">
            <h4>Users / Genotypes</h4>
            <img class="statistic__images center-block" src="../data/plot_data/geno_plus_phenotypes.png" alt="">
          </li>
        </div>
        <div class="col-md-5 col-md-offset-2">
          <li class="statistic__list-item">
            <h4>Phenotypes / Answers</h4>
            <img class="statistic__images center-block" src="../data/plot_data/pheno_plus_userpheno.png" alt="">
          </li>
        </div>
      </div>
    </ul>
  </div>
