<% content_for :single_use_css do %>
	<%= stylesheet_link_tag "stats" %>
<% end %>
<% content_for :single_use_js do %>
	<script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="../data/plot_data/number_users.js"></script>
	<%= javascript_include_tag "stats" %>
<% end %>


<h3>Statistics</h3>
See how we've grown over the last few years. Graphs are updated daily; raw data is provided as well.

<div class="row">
	<div class="span12">
		<h4>Users &amp; Genotypes</h4>
		<div class=chart id=n_users></div>
		<div class=chart_subtitle>
			<i class=muted><sup>&dagger;</sup> points above are weekly aggregates; PNG has daily</i>
			<a class="btn btn-default btn-xs" href="../data/plot_data/number_users.csv" role="button">Download raw data</a>
			<a class="btn btn-default btn-xs" href="../data/plot_data/users.png" role="button">View as PNG</a>
		</div>
	</div>
	<div class="span6">
		<h4>Genotypes</h4>
		<img src="../data/plot_data/genotypes.png"/><br/>
		<i><a href="../data/plot_data/number_genotypes.csv">Download raw data</a></i>
	</div>
</div>

<div class="row">
	<div class="span6">
		<h4>Phenotypes</h4>
		<img src="../data/plot_data/phenotypes.png"/><br/>
		<i><a href="../data/plot_data/number_phenotypes.csv">Download raw data</a></i>
	</div>
	<div class="span6">
		<h4>Phenotype Answers</h4>
		<img src="../data/plot_data/user_phenotypes.png"/><br/>
		<i><a href="../data/plot_data/number_user_phenotypes.csv">Download raw data</a></i>
	</div>
</div>

<div class="row">
	<div class="span6">
		<h4>Users / Genotypes</h4>
		<img src="../data/plot_data/geno_plus_phenotypes.png"/><br/>
	</div>
	<div class="span6">
		<h4>Phenotypes / Answers</h4>
		<img src="../data/plot_data/pheno_plus_userpheno.png"/><br/>
	</div>
</div>
