.test-faq__container
  @include container

.test-faq__container-title
  @include title

.test-faq__questions-tabs
  margin-bottom: 10px

.test-faq__questions-list
  margin-top: 20px

div.test-faq__single-question-div
  border-color: $main-color2

.panel-default div.test-faq__single-question-panel
  background-color: $main-color2
  border-color: $main-color2
  color: white

.test-faq__question-title
  position: relative

.test-faq__title-content
  width: 95%
  @media #{$tablet-breakpoint}

.test-faq__title-extend
  text-decoration: none
  font-size: 20px
  position: absolute
  top: 18%

  @media #{$tablet-breakpoint}
    position: relative

.test-faq__title-extend:hover
  text-decoration: none

.test-faq__title-extend:focus
  text-decoration: none
