.test-phenotype__container
  @include container

.test-phenotype__title
  margin-bottom: 20px

.test-phenotype__add-button
  margin: 20px 0

.test-phenotype__side-menu
  margin: 50px 0 -10px 30%
  @media #{$tablet-breakpoint}
    margin: 20px 0 0 20px

.test-phenotype__new-form
  background-color: #fff !important
  padding: 30px 20px
