.test-pictures-phenotype__container
  @include container

.test-pictures-phenotype__title
  @include title

.test-pictures-phenotype__add-button
  margin: 20px 0

form.test-picture-phenotype__new-form
  background-color: #fff
  padding: 30px 20px
