.test-snps__container
  @include container

.test-snps__download-button
  margin-bottom: 10px
  width: 175px

.test-snps__download-text
  font-size: 10px

.test-snps__download-container
  margin-top: 30px

.test-snps__table
  clear: both
  margin-top: 30px
