<div class="row">
  <h3>Connect your <i>Open Humans</i> account to <i>openSNP</i></h3>
  <div class="col-md-7">
    <h4>What is <i>Open Humans?</i></h4>
    <p>
      <i><a href="https://openhumans.org">Open Humans</a></i> is a participatory
      science project that allows you to gather your personal data from many
      different sources. This could be activity data as collected by
      <i>Fitbit</i> or <i>Apple Healthkit</i>, movement data as
      collected by <i>Moves</i>, or even continuous glucose monitor data.
      For each data source you can then decide to share this data publicly, as
      on <i>openSNP</i>, or only with specific projects/studies.
      You can think of the public data sharing that is possible on <i>Open Humans</i>
      as a more advanced phenotype system compared to the one we are employing
      on <i>openSNP</i>.
    </p>
    <p>
      For that reason we are now making it easy for you to connect the accounts
      that you have on <i>Open Humans</i> and <i>openSNP</i>. Linking your
      accounts means that you don't have to worry about keeping two accounts
      up to data with the latest data! Furthermore, this link
      enables a much more rich reuse of your data,
      as your non-genetic data on <i>Open Humans</i> can now be correlated
      with your genotyping data on <i>openSNP</i>. Lastly, it also means that we
      don't have to replicate all the efforts of the <i>Open Humans</i> team!
    </p>
    <p>
      <b><a href="/openhumans/new">Connect to <i>Open Humans</i> now!</a></b>
    </p>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <h5>What does this connection do in practice?</h5>
    <ul>
      <li>
        Your user-profile on <i>openSNP</i> gets a link to <i>Open Humans</i>
      </li>
      <li>This link will also be included in your phenotypes-file.</li>
      <li>
        We add a new file in your <i>Open Humans</i> account that links to
        your <i>openSNP</i> account.
      </li>
    </ul>
    <a class="btn btn-default btn-lg" href="/openhumans/new" role="button">
      Connect to <i>Open Humans</i>
    </a>
  </div>
</div>
<hr/>
