---
http_interactions:
- request:
    method: get
    uri: https://bots.snpedia.com/api.php?action=query&format=xml&maxlag=5&meta=siteinfo&siprop=namespaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.xml
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 8-44826237-44826239 NNNN CT(104 209 0) RT(1658298276261 24) q(0 0 3 0) r(6
        6) U2
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><api batchcomplete=""><query><namespaces><ns _idx="-2"
        id="-2" case="first-letter" canonical="Media" xml:space="preserve">Media</ns><ns
        _idx="-1" id="-1" case="first-letter" canonical="Special" xml:space="preserve">Special</ns><ns
        _idx="0" id="0" case="first-letter" subpages="" content="" xml:space="preserve"
        /><ns _idx="1" id="1" case="first-letter" subpages="" canonical="Talk" xml:space="preserve">Talk</ns><ns
        _idx="2" id="2" case="first-letter" subpages="" canonical="User" xml:space="preserve">User</ns><ns
        _idx="3" id="3" case="first-letter" subpages="" canonical="User talk" xml:space="preserve">User
        talk</ns><ns _idx="4" id="4" case="first-letter" subpages="" canonical="Project"
        xml:space="preserve">SNPedia</ns><ns _idx="5" id="5" case="first-letter" subpages=""
        canonical="Project talk" xml:space="preserve">SNPedia talk</ns><ns _idx="6"
        id="6" case="first-letter" canonical="File" xml:space="preserve">File</ns><ns
        _idx="7" id="7" case="first-letter" subpages="" canonical="File talk" xml:space="preserve">File
        talk</ns><ns _idx="8" id="8" case="first-letter" subpages="" canonical="MediaWiki"
        xml:space="preserve">MediaWiki</ns><ns _idx="9[...]
- request:
    method: get
    uri: https://bots.snpedia.com/api.php?action=query&aplimit=500&apnamespace=0&apprefix=rs12979860(&format=xml&list=allpages&maxlag=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.xml
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 9-62624609-62624613 NNNY CT(104 215 0) RT(1658298276899 18) q(0 0 0 -1) r(3
        3) U2
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><api batchcomplete=""><query><allpages><p pageid="15929"
        ns="0" title="Rs12979860(C;C)" /><p pageid="15930" ns="0" title="Rs12979860(C;T)"
        /><p pageid="15931" ns="0" title="Rs12979860(T;T)" /></allpages></query></api>
  recorded_at: Wed, 20 Jul 2022 06:24:37 GMT
- request:
    method: get
    uri: https://bots.snpedia.com/api.php?action=query&format=xml&maxlag=5&prop=revisions&rvlimit=1&rvprop=ids&titles=Rs12979860(C%3BC)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.xml
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 10-83959096-83959105 NNNY CT(104 213 0) RT(1658298277263 23) q(0 0 0 -1) r(3
        3) U2
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><api><continue rvcontinue="20091206225019|131458"
        continue="||" /><query><pages><page _idx="15929" pageid="15929" ns="0" title="Rs12979860(C;C)"><revisions><rev
        revid="445428" parentid="131458" /></revisions></page></pages></query></api>
  recorded_at: Wed, 20 Jul 2022 06:24:37 GMT
- request:
    method: get
    uri: https://bots.snpedia.com/api.php?action=query&format=xml&maxlag=5&prop=revisions&rvlimit=1&rvprop=ids&titles=Rs12979860(C%3BT)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.xml
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 3-42847473-42847475 NNNY CT(104 212 0) RT(1658298277621 23) q(0 0 0 -1) r(3
        3) U2
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><api><continue rvcontinue="20111204155633|445430"
        continue="||" /><query><pages><page _idx="15930" pageid="15930" ns="0" title="Rs12979860(C;T)"><revisions><rev
        revid="872819" parentid="445430" /></revisions></page></pages></query></api>
  recorded_at: Wed, 20 Jul 2022 06:24:38 GMT
- request:
    method: get
    uri: https://bots.snpedia.com/api.php?action=query&format=xml&maxlag=5&prop=revisions&rvprop=content&rvslots=*&titles=Rs12979860(C%3BT)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.xml
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 10-83959264-83959105 PNNy RT(1658298277974 17) q(0 0 0 -1) r(3 3) U2
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?><api batchcomplete=""><query><pages><page _idx="15930" pageid="15930" ns="0" title="Rs12979860(C;T)"><revisions><rev><slots><slot contentmodel="wikitext" contentformat="text/x-wiki" role="main" xml:space="preserve">{{Genotype
        |allele1=C
        |allele2=T
        |rsid=12979860
        |magnitude=2.5
        |repute=Bad
        |summary=~20-40% of such hepatitis C patients respond to treatment
        }}

        This is considered an unfavorable response genotype for hepatitis C patients considering the use of PEG-interferon-alpha containing therapeutic treatment. This basically means the odds of a successful response are lower than for patients with the [[rs12979860]](C;C) genotype.</slot></slots></rev></revisions></page></pages></query></api>
  recorded_at: Wed, 20 Jul 2022 06:24:38 GMT
- request:
    method: get
    uri: https://bots.snpedia.com/api.php?action=query&format=xml&maxlag=5&prop=revisions&rvlimit=1&rvprop=ids&titles=Rs12979860(T%3BT)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.xml
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 7-33345229-33345231 NNNY CT(104 212 0) RT(1658298278328 18) q(0 0 0 -1) r(3
        3) U2
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><api><continue rvcontinue="20111204155607|445429"
        continue="||" /><query><pages><page _idx="15931" pageid="15931" ns="0" title="Rs12979860(T;T)"><revisions><rev
        revid="872820" parentid="445429" /></revisions></page></pages></query></api>
  recorded_at: Wed, 20 Jul 2022 06:24:39 GMT
- request:
    method: get
    uri: https://bots.snpedia.com/api.php?action=query&format=xml&maxlag=5&prop=revisions&rvprop=content&rvslots=*&titles=Rs12979860(T%3BT)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Content-Disposition:
      - inline; filename=api-result.xml
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 3-42847596-42847475 PNNy RT(1658298278727 22) q(0 0 0 -1) r(3 3) U2
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?><api batchcomplete=""><query><pages><page _idx="15931" pageid="15931" ns="0" title="Rs12979860(T;T)"><revisions><rev><slots><slot contentmodel="wikitext" contentformat="text/x-wiki" role="main" xml:space="preserve">{{Genotype
        |allele1=T
        |allele2=T
        |rsid=12979860
        |magnitude=3
        |repute=Bad
        |summary=~20-25% of such hepatitis C patients respond to treatment
        }}

        This is considered an unfavorable response genotype for hepatitis C patients considering the use of PEG-interferon-alpha containing therapeutic treatment. This basically means the odds of a successful response are lower than for patients with the [[rs12979860]](C;C) genotype.</slot></slots></rev></revisions></page></pages></query></api>
  recorded_at: Wed, 20 Jul 2022 06:24:39 GMT
recorded_with: VCR 4.0.0
