<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Genotype</th>
    </tr>
  </thead>
  <tbody>
    <% @genotypes.each do |genotype| %>
      <tr>
        <% if genotype.user %>
          <td>
            <%= strong_if @local_genotype == genotype.local_genotype do %>
              <%= link_to genotype.user.name, genotype.user %>
            <% end %>
          </td>
        <% else %>
          <td>Deleted</td>
        <% end %>
        <td><strong><%= genotype.local_genotype %></strong></td>
      </tr>
    <% end %>
  </tbody>
</table>
