.table-cell.vertical-centered
  vertical-align: middle

.test-general__container
  margin-top: 40px
  margin-bottom: 20px
  min-height: 500px

  @media #{$tablet-breakpoint}
    margin-top: 20px
    min-height: 700px

.test-general__title
  padding-bottom: 15px
  margin-bottom: 20px
  border-bottom: 1px solid rgba(#000, 0.3)
