$screen: "only screen" !default
$small-range: 769px
$tablet-breakpoint: "#{$screen} and (min-width:#{$small-range})" !default

$smaller-range: 321px
$mobile-breakpoint: "#{$screen} and (min-width:#{$smaller-range})" !default

$main-color1: #316b94
$main-color2: #17415d
