  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-2">
          <h4>Contacts</h4>
          <ul class="list-unstyled">
            <li><a href="http://opensnp.wordpress.com">Blog</a></li>
            <li><a href="http://www.twitter.com/openSNPorg">Twitter</a></li>
            <li><a href="mailto:info@opensnp.org">Mail</a></li>
            <li><a href="https://github.com/openSNP/snpr">GitHub</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-md-offset-2 col-xs-6 col-xs-offset-3" style="margin-bottom: 10px;">
          <p class="footer__texts">Our hosting is made possible thanks to the kind support of Seven Bridges – and its biomedical data analysis platform – and our <a href="https://patreon.com/openSNP">our patrons on Patreon.</a>. Please consider <a href="https://www.patreon.com/openSNP?ty=h">supporting us as well</a>, if our service is valuable to you! </p>
        </div>
        <script type="text/javascript">
          (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; w.addEventListener ? w.addEventListener("load", loader, false) : w.attachEvent("onload", loader);})(window, document);
        </script>
        <div class="col-md-4 col-xs-12">
          <p class="footer__texts">The openSNP project is licensed under the <a href="https://github.com/openSNP/snpr/blob/master/LICENSE.md" target="_blank">MIT License</a>, the code is at <a href="https://github.com/openSNP/snpr">GitHub</a>. The data is donated into the public domain using <a href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0 1.0</a>. The hand drawn icons were created by <a href="http://oneseventyseven.com/" target="_blank">one seventy seven</a> and are licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>, the CSS of openSNP is provided by <a href="http://twitter.github.com/bootstrap/">Bootstrap, from Twitter</a> and is licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>. Tiny white person in the navigational-bar from <a href="http://glyphicons.com/">glyphicons</a>.</p>
        </div>
      </div>
      <div class="row footer__links-bottom">
        <p class="text-center"><a href="https://www.iubenda.com/privacy-policy/641811">Privacy Policy</a> | <%= link_to "openSNP in the press", "/press"%></p>
      </div>
    </div>
  </div>
