<div id="<%= id %>" class="modal" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <%= yield :modal_header %>
  </div>
  <div class="modal-body">
    <%= yield %>
  </div>
</div>
